<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
</head>
<body>
<div class="container">
<h2 align="center" style="color:#0099FF back">Demand Intake</h2>
<form name="demand" #f="ngForm" class="col-xs-7" >

<div class="form-group">
	<label style="color:#33D1FF; font-size:22px;" >Ticket </label>
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" for="ticketNumber" >Ticket Number </label>
	<input type="text" style="width:250px; border-color: #33D1FF; " class="form-control" required
		name="ticketNumber" [(ngModel)]="it.ticketNumber" [value] ="ticketNumber" 
			(input)="it.ticketNumber=$event.target.value">
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" for="requestType" >Request Type </label>
	<select style="width:250px; border-color: #33D1FF; " class="form-control" required
		   name="requestType" [(ngModel)]="it.requestType"
		   [value] ="requestType" (change)="it.requestType=$event.target.value">
	<option>Project</option>
	</select>
</div>

<hr>
<div class="form-group">
	<label style="color:#33D1FF; font-size:22px;" >GAPTECH Analysis </label>
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" for="estimatedEffort" >Estimated level of effort/ T-shirt size  </label>
	<select style="width:250px; border-color: #33D1FF; " class="form-control" required
		   name="estimatedEffort" [(ngModel)]="it.estimatedEffort"
		   [value] ="estimatedEffort" (change)="it.estimatedEffort=$event.target.value">
	<option>Small Less than/upto 4 weeks</option>
	</select>
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" for="targetDate" >Targetted Business due date reachable </label>
	<label class="radio-inline" *ngFor="let tdate of targetDate; let i=index">
		<input type="radio" name="targetDate"  
		(click)="it.targetDate = tdate.value" [checked]="tdate.value === it.targetDate"/>
		{{tdate.value}}
	</label>	
</div>&nbsp;&nbsp;&nbsp;
<div class="form-group">
	<label class="col-xs-5 control-label" for="deadLineDate" >If No, please provide new(Release) deadline date  </label>
	<select style="width:125px; border-color: #33D1FF; " name="deadLineDate">
	  <option>FY17</option>		  
	</select>
	<select style="width:125px; border-color: #33D1FF; " name="deadLineDate">
	  <option>Q1</option>		  
	</select>		        
</div>&nbsp;&nbsp;&nbsp;&nbsp;
<div class="form-group">
	<label class="col-xs-5 control-label" for="fundsAvailable" >Initiative covered by available fundings </label>
	<label class="radio-inline" *ngFor="let fund of fundsAvailable; let i=index">
		<input type="radio" name="fundsAvailable" 
		(click)="it.fundsAvailable = fund.value" [checked]="fund.value === it.fundsAvailable"/>
		{{fund.value}}
	</label>
</div>&nbsp;&nbsp;
<div class="form-group">
	<label class="col-xs-5 control-label" for="headCount" >Additional IT headcount required? </label>
	<label class="radio-inline" *ngFor="let head of headCount; let i=index">
		<input type="radio" name="headCount"  
		(click)="it.headCount = head.value" [checked]="head.value === it.headCount"/>
		{{head.value}}
	</label>
</div>&nbsp;&nbsp;
<div class="form-group">
	<label class="col-xs-5 control-label" for="headCountType" >If yes to additional IT headcount,<br> please specify what additional<br> resources is required </label>
	<select style="width:250px; border-color: #33D1FF; " class="form-control" required
		   name="headCountType" [(ngModel)]="it.headCountType" 
		   [value] ="headCountType" (change)="it.headCountType=$event.target.value">
	<option>BA+QE</option>
	</select>
</div>&nbsp;&nbsp;&nbsp;
<div class="form-group">
	<label class="col-xs-5 control-label" for="impactedTeams" >How many teams are impacted to<br> help deliver? </label>
	<select style="width:250px; border-color: #33D1FF; " class="form-control" required
		   name="impactedTeams" [(ngModel)]="it.impactedTeams"
		   [value] ="impactedTeams" (change)="it.impactedTeams=$event.target.value">
	<option>3</option>
	</select>
</div>

<hr>
<div class="form-group">
	<label style="color:#33D1FF; font-size:22px;" >Ticket Progress </label>
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" for="ticketLifeCycle" >Ticket Life Cycle process </label>
	<select style="width:250px; border-color: #33D1FF; " class="form-control" required
		   name="ticketLifeCycle" [(ngModel)]="it.ticketLifeCycle"
		   [value] ="ticketLifeCycle" (change)="it.ticketLifeCycle=$event.target.value">
	<option>Express</option>
	</select>
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" for="requestDate" >Request Type </label>
	<input type="date" style="width:250px; border-color: #33D1FF; " class="form-control" required
		name="requestDate" [(ngModel)]="it.requestDate" [value] ="requestDate" 
			(input)="it.requestDate=$event.target.value">
</div>

<hr>
<div class="form-group">
	<div align="left">
		<button type="submit" class="btn btn-info" (click)="submitForm(this.it); reset(this);" >Save</button>
	</div>
</div>    
</form>

<form name="demand" #f="ngForm" class="col-xs-5" >
<div class="panel panel-default" style="width: 550px;">
<div class="panel-body">

<div class="form-group">
	<label style="color:#33D1FF; font-size:22px;" >Initiative </label>	
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="subject" >Subject </label>
	{{user.subject}}
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="requestOwner" >Request Owner </label>
    {{user.requestOwner}}	
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="requestDate" >Request Date </label>
    {{user.requestDate}}	
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="primaryBusinessContact" >Primary Business Contact<br>(Name, Contact Number) </label>
	{{user.primaryBusinessContact}}
</div>&nbsp;
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="regionsInScope" >Regions in Scope </label>
	{{user.regionsInScope}}
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="priority" >Priority </label>
	{{user.priority}}
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="targetDueDate" >Expected Target Due Date </label>
	{{user.targetDueDate}}
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="uatTesters" >UAT Testers (Regional SMEs) </label>
	{{user.uatTesters}}
</div>

<hr>
<div class="form-group">
	<label style="color:#33D1FF; font-size:22px;" >Business Case </label>
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="businessObjective" >Business Objective </label>
	{{user.businessObjective}}
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="expectedResult" >Describe the solution requested<br> What is the expected result? </label>
	{{user.expectedResult}}
</div>&nbsp;
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="areaofImpact" >Main area of Impact </label>
	{{user.areaofImpact}}
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="subArea" >Sub Area, if any </label>
	{{user.subArea}}
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="communication" >If Yes to one of the policy/process<br> please detail the change and plan<br> to communicate to stakeholders </label>
	{{user.communication}}
</div>&nbsp;&nbsp;

<hr>
<div class="form-group">
	<label style="color:#33D1FF; font-size:22px;" >Measurement </label>
</div>
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="valueAdd" >Describe the Staff Productivity<br> gain/value added </label>
	{{user.valueAdd}}
</div>&nbsp;
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="businessRoi" >Business ROI(non payroll cost<br> savings or Revenue Growth) </label>
	{{user.businessRoi}}
</div>&nbsp;
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="risk" >Identify and explain the risk if<br> this Request is not deployed </label>
	{{user.risk}}
</div>&nbsp;
<div class="form-group">
	<label class="col-xs-5 control-label" style="width: 300px; padding-right: 50px;" for="qualityofWork" >Improvement in Quality of work </label>
	{{user.qualityofWork}}
</div>

</div></div>
</form>

</div>
</body>
</html>